.contact{
    margin-left: 200px;
    margin-bottom: 60px;
    padding-top: 50px;
}
.card0{
    box-shadow: 0px 4px 8px 0px rgb(21, 20, 19);
    border-radius: 0px;
}
.card2{
    margin: 0px 40px;
}
.card1 .image{
    padding: 30px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
}
.line{
    height: 1px;
    width: 45%;
    margin-top: 10x;
    background-color: #e0e0e0;
}
.or{
    display: flex;
    width: 10%;
    font-weight: bold;
}
.border-line{
    border-right: 1px solid #e0e0e0;
}
::placeholder{
    color: #bdbdbd;
    font-weight: 300;
    opacity: 1;
}
input,textarea{
    padding: 10px 12px;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-top: 5px;
    width: 100%;
    color: black;
    font-size: 1rem;
    letter-spacing:1px;
}
input:focus,textarea:focus{
    box-shadow: none !important;
    outline: 1px solid #138781 !important;
    outline-width: 0px
}
button:focus{
    box-shadow: none;
    outline-width: 0px;
}
.button{
    background-color: #5412ee;
    color: white;
    border-radius: 2px;
    margin-top: 15px;
    padding: 10px;
}
.button:hover{
background-color: #072ff8;
}
