.home-container {
  height: 300px;
  color: #f9eeee; /* Updated color to a lighter shade */
}
.home-container h2 {
  padding: 10px;
  padding-top: 50px;
  margin-left: 95px;
  color: #ffd700; /* Changed h2 color to goldenrod */
}
.home-container h1 {
  color: goldenrod;
  padding: 10px;
  margin-left:95px;
}
.home-buttons {
  margin-left: 95px;
}
.home-buttons .btn-hire,
.home-buttons .btn-cv {
  background-color: #007bff; /* Changed button colors */
  color: #fff;
  padding: 10px 20px; /* Adjusted padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.home-buttons .btn-hire:hover {
  background-color: #fff;
  color: #3b8ff3;
  width: 200px;
}

.home-buttons .btn-cv {
  background-color: #ffa500; /* Changed button color to orange */
  margin-left: 15px;
}

.home-buttons .btn-cv:hover {
  opacity: 0.8;
}

.theme-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #1e1e1e;
  margin-top: 20px;
  text-align: center;
  position: fixed;
  right: 0;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}
/* -----------------Media queary---------------- */
@media (max-width:600){
  .home-container{
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }
  .home-container h2{
    font-size: 24px;
  }
  .home-container h1{
    font-size: 24px;
  }
}